.gap-6{
        gap:100px;
    }
    body{
        background-image: url(https://t3.ftcdn.net/jpg/06/29/73/36/360_F_629733635_4eo0wfZfYC6u1IKn3Fb3uFMWQD87n6DD.jpg);
        background-size: cover;
        background-repeat:no-repeat;
    }